<!DOCTYPE html>
<html>
<head>
  <title>Title Search Result</title>
</head>
<body>
  <h1>Title Search Result</h1>
  {{#each data}}
    <p>ISBN: {{this.ISBN}}, Title: {{this.Title}}, Author: {{this.Author}}</p>
  {{/each}}
</body>
</html>
